/**
 * Rentenversicherungen filtered list
 * Created by Marko Cupic on 03.03.2017.
 */

#fondsRenditevergleichFilterForm .row > [class*="col-"] {
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-bottom: 15px;
}
#fondsRenditevergleichFilterForm .row > [class*="col-"] select {
    min-width: 80%;
}



#fondsRenditevergleichFilterForm .checkbox_container legend {
    font-size:16px;
    border:0;
    margin:0;
}

#fondsRenditevergleichFilterForm .checkbox  {
    margin-top:0;
}

#fondsRenditevergleichTable .loadingHtml {
    text-align: center;
    font-size: 16px;
    color: #ccc;
    font-style: italic;
}

#fondsRenditevergleichTable .field-rendite3Jahre,
#fondsRenditevergleichTable .field-rendite5Jahre,
#fondsRenditevergleichTable .field-rendite10Jahre,
#fondsRenditevergleichTable .field-volantilitaet,
#fondsRenditevergleichTable .field-laufendeKosten,
#fondsRenditevergleichTable .field-anbieter{
    text-align:center;
}



